{% extends 'base.html.twig' %}

{% block title %}Portfolio Jacques Mougin | About{% endblock %}

{% block body %}
<!-- This example illustrates how to create layout of slides stacked on each  other(especially useful for fade in/out transitions). It's achieved without setting their height and avoiding position: absolute; so they are fully flexible and easy to keep in normal page flow. -->
<input class="input-about" type="radio" name="switch" id="i_1" checked>
<input class="input-about" type="radio" name="switch" id="i_2">
<input class="input-about" type="radio" name="switch" id="i_3">
<div class="wrapper">
    <div class="slide">
        <div class="content content1">
            {# <div></div> #}
            <h2 class="slider__caption">Qui suis-je ?</h2>
            <p class="slider__txt">Je m'appelle Jacques Mougin, j'ai 27 ans et je vis actuellement dans la ville de Montpellier dans le sud de la France. Je suis <strong>développeur back end</strong> mais je m'interesse malgré au côté front end.</p>
            <p class="slider__txt">J'ai baigné dans l'informatique dès mon plus jeune âge et je n'ai jamais arrêté d'explorer ce vaste univers. Je suis profondément curieux et cela me permet de m'intéresser à tout un tas de choses. A la fois musicien et cinéphile, je peux laisser mon esprit se perdre entre les oeuvres d'un musée ou m'obstiner avec ma planche de skate sous les pieds. Ma curiosité c'est exporter à l'étranger au travers de deux grands voyage : 1 an en Nouvelle-Zélande où j'ai pu parfaire mon anglais et 3 ans au Canada à braver le grand froid.</p>
        </div>   
    </div>
    <div class="slide">
        <div class="content content2">
            <h2 class="slider__caption">Mon parcours</h2>
            <p class="slider__txt">Voilà une dizaine d'années que j'ai passé mon bac Economique et Social et il c'est passé pas mal de choses entre temps. Tout d'abord j'ai fais un BTS MUC (Management des Unités Commerciales) en alternance dans un magasin de prêt-à-porter et d'équipements de sport (un skateshop pour la faire courte). J'y ai appris des techniques de vente et surtout j'ai améliorer ma relation clientelle.</p>
            <p class="slider__txt">Ensuite, je suis parti une année en Nouvelle-Zélande où j'ai pu pratiquer mon anglais et en faire ma deuxième langue natale et où j'ai pu travailler dans la vente pour continuer à paufiner mes talents de conseiller de vente.</p>
            <p class="slider__txt">Après ça je suis parti étudier au Canada, 3 ans exactement. J'ai fait une formation dans le son. J'y ai appris 4 grands domaines : le live (sonorisation de concert), l'enregistrement en studio, la post-production de jeux vidéo et la post-production en cinéma. J'ai pu combler ma soif de nouvelles technologies puisque j'ai manipulé un tas de logiciel (Pro Tools, Ableton, Wwise, etc..) et un tas de consoles de mixages, micros et autre gadgets audio. Au cours de ces trois années j'ai travaillé en parallèle de mes cours, dans des salles de spectacles et festivals.</p>
            <p class="slider__txt">Et puis je suis rentré en France, en plein covid. Donc j'ai mis de côté le son et je me suis lancé dans une formation de développeur web. J'y ai appris les rudiments avec HTML et CSS, la dynamique avec Javascrpit, le back end avec PHP/Symfony et un paquet d'autres choses tels que la création d'API, la méthodologie Agile, etc...</p>
            <p class="slider__txt">Aujourd'hui j'ai enfin trouvé ma voie et je n'ai qu'une hâte : continuer à apprendre, à progresser et à créer des projets toujours plus passionnants.</p>
        </div>    
    </div>
    <div class="slide">
        <div class="content content3">
            <h2 class="slider__caption">En bref ...</h2>
            <p class="slider__txt">N'hésitez pas à aller consulter mes projets sur GitHub.</p>
            <p class="slider__txt">Si vous avez des questions ou besoin de quelconques informations, <a href=" {{ path('contact') }} ">contactez moi !</a></p> 
        </div>
    </div> 
</div>
<div class="controls">
  <label class="label-about" for="i_1">⬤</label>
  <label class="label-about" for="i_2">⬤</label>
  <label class="label-about" for="i_3">⬤</label>
</div>
{% endblock %}
