{% extends 'base.html.twig' %}

{% block title %}Portfolio Jacques Mougin | About{% endblock %}

{% block body %}
<div class="text-center d-flex justify-content-center">
    <div class="d-flex">
        <div>
            <h2>Qui suis-je ?</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias quisquam natus porro, et tenetur voluptas ratione fugiat beatae nobis, aspernatur architecto adipisci error illum non quidem quam vero. Maxime maiores, laudantium beatae hic alias consectetur, atque voluptate deleniti, laborum possimus provident obcaecati suscipit reiciendis nulla voluptas natus laboriosam temporibus nesciunt.</p>
        </div>
        <div class="about__image">
            <img src="{{ asset('assets/pictures/pexels-eberhard-grossgasteiger-1292115.jpg') }}" alt="">
        </div>
    </div>
</div>
{% endblock %}
