{% extends 'base.html.twig' %}

{% block title %}Portfolio Jacques Mougin | Projets{% endblock %}

{% block body %}
<section class="cards-wrapper">
  <div class="card-grid-space">
    <a class="card" href="https://codetheweb.blog/2017/10/06/html-syntax/" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
      <div>
        <h1>Portfolio</h1>
        <p>Le site sur lequel vous naviguez actuellement.</p>
        <div class="date">En cours</div>
        <div class="tags">
          <div class="tag">Symfony</div>
          <div class="tag">PHP</div>
          <div class="tag">Twig</div>
          <div class="tag">HTML</div>
          <div class="tag">CSS</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <a class="card" href="https://codetheweb.blog/2017/10/09/basic-types-of-html-tags/" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
      <div>
        <h1>Harmonize</h1>
        <p>Site web réaliser comme projet de fin de formation.</p>
        <div class="date">Avril à Mai 2021</div>
        <div class="tags">
          <div class="tag">Symfony</div>
          <div class="tag">PHP</div>
          <div class="tag">Twig</div>
          <div class="tag">HTML</div>
          <div class="tag">CSS</div>
          <div class="tag">React</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <a class="card" href="https://codetheweb.blog/2017/10/14/links-images-about-file-paths/" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
      <div>
        <h1>To-Do List</h1>
        <p>Projet de To-Do List réalisé en cours de ma formation.</p>
        <div class="date">Mars 2021</div>
        <div class="tags">
          <div class="tag">Javascript</div>
          <div class="tag">HTML</div>
          <div class="tag">CSS</div>
        </div>
      </div>
    </a>
  </div>
</section>
{% endblock %}
