{% extends 'base.html.twig' %}

{% block title %}Portfolio Jacques Mougin | Projets{% endblock %}

{% block body %}
<div class="text-center d-flex justify-content-center">
    <div>
        En cours
    </div>
</div>
{% endblock %}
